html,body {
font-family:'Open Sans Condensed', sans-serif;
background-color:#000;
}

.view {
min-height:1800px;
}

.title {
color:#f9f9f9;
font-size:3em;
}

.fading {
opacity:0;
}

.phone-graphic {
width:315px;
height:640px;
background:transparent url(../assets/Phone.png) no-repeat 0 0;
-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
background-size:cover;
}

.teaser-video {
width:270px;
height:480px;
margin-top:90px;
margin-left:30px;
}

.sub-btn {
margin-left:35px;
}

.page-footer,.page-footer a {
color:#ddd;
background-color:#111;
}

a {
text-decoration:none;
}

.footer-copyright {
color:#2a2a2a;
padding-left:35px;
background-color:#0f0f0f;
}